* {
    margin: 0;
    padding: 0;
    outline: none;
}

button {
    cursor: pointer;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

textarea {
    display: block;
    border: 1px solid #000;
    height: 100px;
    resize: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
}

input {
    width: 200px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    border: 1px solid #000;
    margin: 5px 0;
    height: 40px;
    line-height: 30px;
    display: inline-block;
    vertical-align: top;
}

button {
    display: block;
    width: 100px;
    height: 40px;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    border: none;
    background: #000;
}

.get {
    display: inline-block;
    width: auto;
    margin: 5px 10px 5px 0;
    padding: 0 10px;
}

ul {
    height: calc(100vh - 330px);
    min-height: 400px;
    overflow-y: scroll;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 5px;
}

ul li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid #000;
    margin-bottom: 10px;
}

ul li:last-child {
    margin-bottom: 0;
}

span.autor {
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
    color: red
}

p.text {
    font-size: 14px;
    margin-bottom: 5px;
    line-height: 18px;
}

.get.date {
    font-size: 14px;
    height: auto;
    padding: 5px 10px;
    text-transform: capitalize;
}